<div class="container-fluid zw-with-nav">
    <h2>Register</h2>
    <form onSubmit="window.location = '#!/user/0'">
        <!--<label for="username">Username</label>-->
        <input name="username"
               id="username"
               type="text"
               placeholder="username"
               class="form-control"/>
        <!--<label for="password">Password</label>-->
        <input name="password"
               id="password"
               type="password"
               placeholder="password"
               class="form-control"/>
        <!--<label for="password">Password</label>-->
        <input id="verifyPassword"
               type="password"
               placeholder="verify password"
               class="form-control"/>
        <div class="zw-group">
            <button type="submit"
                    class="btn btn-block btn-primary">
                Register
            </button>
            <a class="btn btn-block btn-danger"
               href="#!/login">
                Cancel
            </a>
        </div>
    </form>
</div>
