/* header/footer */

.navbar-nav {
    line-height: 50px;
    padding: 0;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

.navbar-left {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

/* body elements */

.zw-with-nav {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.zw-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    font-weight: bold;
}

a {
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

label {
    margin-top: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-group, .input-group {
    margin-bottom: 5px;
}

.help-block {
    margin-bottom: 0;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* lists */

.zw-list {
    padding-left: 0;
}

.zw-list-item {
    padding-top: 10px;
    padding-bottom: 5px;
    list-style-type: none;
}

/* search */

.ellipsis {
}

.zw-search-main {
    position: relative;
    margin-top: 10px;
    height: 25px;
    font-size: 110%;
}

.zw-search-category {
    position: absolute;
    display: inline;
    left: 0;
    width: 85px;
    border-right: solid lightgray 1px;
}

.zw-search-name {
    position: absolute;
    display: inline;
    left: 90px;
    right: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zw-search-rating {
    position: absolute;
    display: inline;
    right: 0;
    top: 1px;
}

.zw-search-description {
    display: block;
    display: -webkit-box;
    max-height: 124px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid lightgray 2px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
