/* header/footer */

.navbar-nav {
    line-height: 50px;
    padding: 0;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

.navbar-left {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

/* body elements */

.cl {
    clear: both;
}

.zw-with-nav {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.zw-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

a {
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

label {
    margin-top: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-group, .input-group {
    margin-bottom: 5px;
}

.help-block {
    margin-bottom: 0;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.zw-right {
    float: right;
    clear: left;
}

.zw-btn-follow {
    margin-top: 20px;
    float: right;
    clear: left;
}

.zw-h-center {
    text-align: center;
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.zw-remove {
    color: red;
}

/* star rating */

.zw-app-rating {
    margin-top: 5px;
    text-align: center;
}

.zw-app-rating-count {
    vertical-align: top;
}

.zw-review-rating {
    margin-top: 20px;
    text-align: center;
}

.ngrateit {
    display: inline;
    line-height: 25px;
}

.ngrateit-star {
    background-size: cover;
}

/* carousel */

.center {
    text-align: center;
}

.bgimage {
    background: #222;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center center;
}

.zw-aspect-16-9 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

ul[rn-carousel] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.rn-carousel-indicator span.active {
    color: #ddd;
}

/* lists */

.zw-list {
    padding-left: 0;
}

.zw-list-item {
    padding-top: 10px;
    padding-bottom: 5px;
    list-style-type: none;
}

/* search */

.zw-search {
    margin-bottom: 20px;
}

.zw-app-short-main {
    position: relative;
    padding-top: 8px;
    height: 35px;
    font-size: 110%;
}

.zw-app-short-category {
    position: absolute;
    display: inline;
    left: 10px;
}

span.zw-app-short-category {
    padding: 3px 6px;
}

.zw-app-short-name {
    position: absolute;
    display: inline;
    left: 90px;
    right: 90px;
    top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zw-app-short-rating {
    position: absolute;
    display: inline;
    right: 5px;
    top: 7px;
}

.zw-app-short-description {
    display: block;
    display: -webkit-box;
    max-height: 112px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

/* app reviews */

.zw-review-short-main {
    border-top: solid #eee 1px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.zw-review-short-app-name {
    font-size: 110%;
}

.zw-review-short-title {
    font-size: 110%;
}

.zw-review-short-date {
    float: right;
    font-size: 110%;
}

.zw-review-short-rating > .ngrateit {
    display: inline;
}

.zw-review-short-author {
    vertical-align: top;
}

.zw-review-short-text {
    display: block;
    margin-top: 5px;
}