<div ng-include="'views/templates/navbar.view.client.html'"></div>

<div class="container zw-with-nav">
    <h3>{{model.app.name}}</h3>
    <div class="zw-right">
        <a href="{{model.app.artifact}}"
           rel="noreferrer"
           class="btn btn-primary">
            {{model.app.categoryName}} Download
        </a>
        <div class="zw-app-rating">
            <ng-rate-it ng-model="model.app.stars"
                        read-only="true"></ng-rate-it>
            <span class="zw-app-rating-count">({{model.app.ratingTotal}})</span>
        </div>
    </div>
    <div ng-repeat="author in model.app.authors">
        <a href="#!/profile/{{author._id}}"><b>{{author.displayName}}</b></a>
    </div>
    <i>{{model.app.datePublished | date}}</i>
    <div class="cl"></div>
    <div ng-if="model.app.description">
        <hr>
        {{model.app.description}}
    </div>
    <div ng-if="model.app.screenshots.length">
        <hr>
        <div class="zw-aspect-16-9">
            <ul rn-carousel
                rn-carousel-index="screenshotsIndex"
                class="image">
                <li ng-repeat="screenshot in model.app.screenshots">
                    <div ng-style="{'background-image': 'url(' + screenshot + ')'}"
                         class="bgimage"></div>
                </li>
            </ul>
        </div>
        <div rn-carousel-indicators
             ng-if="model.app.screenshots.length > 1"
             slides="model.app.screenshots"
             rn-carousel-index="screenshotsIndex"
             class="center">
        </div>
    </div>
    <div>
        <hr>
        <div ng-if="user"
             class="zw-h-center">
            <a href="#!/app/{{model.appId}}/review/new">Write a review</a>
        </div>
        <div ng-if="!user"
             class="zw-h-center">
            <i>Log in to write a review</i>
        </div>
        <div ng-if="model.app.reviews.length">
            <div ng-repeat="review in model.app.reviews">
                <div class="zw-review-short-main">
                    <span class="zw-review-short-title">{{review.title}}</span>
                    <span class="zw-review-short-date">{{review.dateUpdated | date}}</span>
                </div>
                <span class="zw-review-short-rating">
                    <ng-rate-it ng-model="review.stars"
                                read-only="true"></ng-rate-it>
                </span>
                <span class="zw-review-short-author">by <a href="#!/profile/{{review.author._id}}" class="zw-review-short-author">{{review.author.displayName}}</a></span>
                <span class="zw-review-short-text">{{review.text}}</span>
            </div>
        </div>
        <div ng-if="!model.app.reviews.length"
             class="zw-h-center">
            No text reviews!
        </div>
    </div>
</div>
