<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            Edit Widget
        </div>
        <p class="navbar-text navbar-right">
            <a onclick="document.getElementById('submitButton').click();" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </p>
    </div>
</nav>
<div class="container-fluid zw-with-nav">
    <div ng-if="model.widget.type === 'IMAGE'">
        <form action="/api/upload"
              method="post"
              enctype="multipart/form-data">
            <ng-include src="'views/widget/templates/widget-edit-form.view.client.html'"/>
            <input name="uid"
                   value="{{model.uid}}"
                   style="display: none"/>
            <input name="wid"
                   value="{{model.wid}}"
                   style="display: none"/>
            <input name="pid"
                   value="{{model.pid}}"
                   style="display: none"/>
            <input name="wgid"
                   value="{{model.widget._id}}"
                   style="display: none"/>
        </form>
    </div>
    <div ng-if="model.widget.type !== 'IMAGE'">
        <form ng-submit="model.updateWidget()">
            <ng-include src="'views/widget/templates/widget-edit-form.view.client.html'"/>
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
