<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            Widgets
        </div>
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </p>
    </div>
</nav>
<div class="container-fluid zw-with-nav">
    <wbdv-sortable></wbdv-sortable>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <span class="glyphicon glyphicon-play">
            </span>
        </p>
        <div class="navbar-brand">
            <span class="glyphicon glyphicon-eye-open">
            </span>
        </div>
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
