<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a href="#!/user/0/website/0/page/0/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            Edit Widget
        </div>
        <p class="navbar-text navbar-right">
            <a href="#!/user/0/website/0/page/0/widget" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </p>
    </div>
</nav>
<div class="container-fluid">
    <form onSubmit="window.location = '#!/user/0/website/0/page/0/widget'">
        <label for="name">Name</label>
        <input name="name"
               id="name"
               type="text"
               class="form-control"/>
        <label for="text">Text</label>
        <input name="text"
               id="text"
               type="text"
               class="form-control"/>
        <label for="url">URL</label>
        <input name="url"
               id="url"
               type="url"
               value="https://www.youtube.com/embed/uLWLashCXHE"
               class="form-control"/>
        <label for="width">Width</label>
        <input name="width"
               id="width"
               type="text"
               class="form-control"/>
        <div class="zw-group">
            <!--
            <button type="submit"
                    class="btn btn-block btn-success form-control">
                Save
            </button>
            <a class="btn btn-block btn-default"
               href="#!/user/0/website/0/page/0/widget">
                Cancel
            </a>
            -->
            <a class="btn btn-block btn-danger"
               href="#!/user/0/website/0/page/0/widget">
                Delete
            </a>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a href="#!/user/0" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
