<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            Edit Widget
        </div>
        <p class="navbar-text navbar-right">
            <a ng-click="model.validate() && model.updateWidget()" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </p>
    </div>
</nav>
<div class="container-fluid zw-with-nav">
    <form ng-submit="model.updateWidget()">
        <label for="name">Name</label>
        <input id="name"
               ng-model="model.widget.name"
               type="text"
               class="form-control"/>
        <label for="text">Text</label>
        <div ng-if="model.widget.widgetType === 'HTML'">
            <textarea id="description"
                      ng-model="model.widget.text"
                      rows="10"
                      class="form-control"></textarea>
        </div>
        <div ng-if="model.widget.widgetType !== 'HTML'">
            <input id="text"
                   ng-model="model.widget.text"
                   type="text"
                   class="form-control"/>
        </div>
        <div ng-if="model.widget.widgetType === 'HEADING'">
            <label for="size">Size</label>
            <input id="size"
                   ng-model="model.widget.size"
                   type="number"
                   min="1"
                   max="6"
                   class="form-control"/>
        </div>
        <div ng-if="model.widget.widgetType === 'IMAGE' || model.widget.widgetType === 'YOUTUBE'">
            <label for="url">URL</label>
            <input id="url"
                   ng-model="model.widget.url"
                   type="url"
                   class="form-control"/>
            <label for="width">Width</label>
            <input id="width"
                   ng-model="model.widget.width"
                   type="text"
                   class="form-control"/>
        </div>
        <div ng-if="model.widget.widgetType === 'IMAGE'">
            <label for="file">Upload</label>
            <input id="file"
                   type="file"
                   class="form-control"/>
        </div>
        <div class="zw-group">
            <button ng-disabled="!model.validate()"
                    type="submit"
                    class="btn btn-block btn-success">
                Save
            </button>
            <a class="btn btn-block btn-default"
               ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                Cancel
            </a>
            <a ng-click="model.deleteWidget()"
               class="btn btn-block btn-danger">
                Delete
            </a>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
