<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            Choose Widget
        </div>
    </div>
</nav>
<div class="container-fluid zw-with-nav">
    <ul class="zw-list">
        <li class="zw-list-item">
            <a ng-click="model.createWidget('HEADING')">Header</a>
        </li>
        <!--
        <li class="zw-list-item">
            <a>Label</a>
        </li>
        -->
        <li class="zw-list-item">
            <a ng-click="model.createWidget('HTML')">HTML</a>
        </li>
        <!--
        <li class="zw-list-item">
            <a>Text Input</a>
        </li>
        <li class="zw-list-item">
            <a>Link</a>
        </li>
        <li class="zw-list-item">
            <a>Buttom</a>
        </li>
        -->
        <li class="zw-list-item">
            <a ng-click="model.createWidget('IMAGE')">Image</a>
        </li>
        <li class="zw-list-item">
            <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
        </li>
        <!--
        <li class="zw-list-item">
            <a>Data Table</a>
        </li>
        <li class="zw-list-item">
            <a>Repeater</a>
        </li>
        -->
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
