<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <div class="row">
            <div class="col-xs-4 hidden-xs">
                <p class="navbar-text navbar-left">
                    <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </p>
                <div class="navbar-brand">
                    Websites
                </div>
                <p class="navbar-text navbar-right">
                    <a ng-href="#!/user/{{model.uid}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p class="navbar-text navbar-left">
                    <a ng-href="#!/user/{{model.uid}}/website" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </p>
                <div class="navbar-brand">
                    New Website
                </div>
                <p class="navbar-text navbar-right">
                    <a ng-click="model.validate() && model.createWebsite()" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs zw-with-nav"
             id="left">
            <div ng-include="'views/website/templates/website-list.template.view.client.html'"></div>
        </div>
        <div class="col-xs-12 col-sm-8 zw-with-nav"
             id="right">
            <form ng-submit="model.createWebsite()">
                <label for="name">Name</label>
                <input id="name"
                       ng-model="model.website.name"
                       type="text"
                       placeholder="Name"
                       class="form-control"/>
                <label for="description">Description</label>
                <textarea id="description"
                          ng-model="model.website.description"
                          placeholder="Description"
                          rows="5"
                          class="form-control"></textarea>
                <div class="zw-group">
                    <button ng-disabled="!model.validate()"
                            type="submit"
                            class="btn btn-block btn-success">
                        Create
                    </button>
                    <a class="btn btn-block btn-default"
                       ng-href="#!/user/{{model.uid}}/website">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
