<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            Websites
        </div>
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}/website/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </p>
    </div>
</nav>
<div class="container-fluid zw-with-nav">
    <ul class="zw-list">
        <li ng-repeat="website in model.websites"
            class="zw-list-item">
            <a ng-href="#!/user/{{model.uid}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <p class="pull-right">
                <a ng-href="#!/user/{{model.uid}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>
            </p>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>