<div ng-include="'views/templates/navbar.view.client.html'"></div>

<div class="container zw-with-nav">
    <h3>Users</h3>
    <div class="zw-list">
        <div ng-repeat="_user in model.users"
             class="zw-list-item">
            <a href="#!/profile/{{_user._id}}">{{_user.displayName}}</a>
            <p ng-if="_user._id !== user._id"
               class="pull-right">
                <a ng-click="model.deleteUser(_user._id)">
                    <span class="glyphicon glyphicon-remove zw-remove">
                    </span>
                </a>
            </p>
        </div>
    </div>
</div>
