<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            New Page
        </div>
        <p class="navbar-text navbar-right">
            <a onclick="document.getElementById('submitButton').click();" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </p>
    </div>
</nav>
<div class="container-fluid zw-with-nav">
    <form ng-submit="model.createPage()">
        <label for="name">Name</label>
        <input id="name"
               ng-model="model.page.name"
               type="text"
               required
               placeholder="Page Name"
               class="form-control"/>
        <label for="title">Title</label>
        <!-- model discrepancy between view and controller/service; is this title or description? -->
        <input id="title"
               ng-model="model.page.description"
               placeholder="Page Title"
               class="form-control"/>
        <div class="zw-group">
            <button id="submitButton"
                    type="submit"
                    class="btn btn-block btn-success">
                Create
            </button>
            <a class="btn btn-block btn-default"
               ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page">
                Cancel
            </a>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
