<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text navbar-left">
            <a ng-href="#!/user/{{model.uid}}/website" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </p>
        <div class="navbar-brand">
            Pages
        </div>
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}/website/{{model.wid}}/page/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </p>
    </div>
</nav>
<div class="container-fluid zw-with-nav">
    <div ng-include="'views/page/templates/page-list.template.view.client.html'"></div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <p class="navbar-text navbar-right">
            <a ng-href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>
